.main {
  --bar: 16px;
  --gap: 8px;

  position: relative;
  padding: 16px;
}

.graph {
  position: relative;
  display: flex;
  overflow-x: auto;
  border-radius: 8px;
  padding: 16px;
  padding-top: 90px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--gap);
  gap: var(--gap);
}

.hours {
  height: 25vh;
  display: flex;
  gap: var(--gap);
}

.label {
  position: relative;
  left: calc(0.5 * var(--bar));
  white-space: pre;
  user-select: none;
}

.hour {
  width: var(--bar);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bar {
  position: relative;
  flex-grow: 1;
}

.fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.time {
  white-space: pre;
  font-size: 12px;
  user-select: none;
}

.anchor {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.popup {
  position: relative;
  transform: translate(0, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.level {
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  padding: 0.2em;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  font-size: 20px;
  font-variation-settings: 'wght' 400, 'wdth' 50;
}

.when {
  padding: 2px 4px;
  border-radius: 4px;
  background: #fff8;
  white-space: pre;
}

.version {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 12px;
  color: var(--grey);
  user-select: none;
}
