.screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  background: var(--grey);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  max-width: 500px;
}

.current {
  flex-grow: 1;
}

.spinner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fed8;
  background: var(--white-overlay);
}

.spinner * {
  height: 100px;
}
