.screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  background: var(--grey);
}

.content {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  max-width: 500px;
}

.current {
  flex-grow: 1;
}
