:root {
  --font: "Nunito", sans-serif;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

html, body {
  margin: 0;
  font-family: var(--font);
  font-size: 16px;
  font-variation-settings: 'wght' 300, 'wdth' 50;
}
