:root {
  --black: #282828;
  --font: "Nunito", sans-serif;
  --light-grey: #d8d8d8;
  --grey: #808080;
  --off-white: #f8f8f8;
  --white-overlay: #ffffff80;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

html, body {
  margin: 0;
  font-family: var(--font);
  font-size: 16px;
  font-variation-settings: 'wght' 300, 'wdth' 50;
  color: var(--black);
}

button {
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  font-size: inherit;
  background: var(--black);
  color: var(--off-white);
}

.low {
  background: #00e800;
}

.moderate {
  background: #f4f400;
}

.high {
  background: #ffb000;
}

.very {
  background: #ff8080;
}

.extreme {
  background: #d070ff;
}

.unknown {
  background: #d0d0d0;
}
